/* myStyle.css */

body {
background-image: url("paper.jpg");
 color: #000000;
}
h1 {
 color: #000000;
 text-align: center;
 font: italic 200% sans-serif;
}
h3 {
 color: #000000;
 text-align: center;
}
p {
 color: #000000;
 text-align: left;
}

span {
font-size:3rem;
}
.hImage {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  height: 200px;
}
.quote {
  font-size: 15px;
  position:relative;
  left:10px;
  top:-180px;

}
.favorites {
  font-size: 15px;
  position:relative;
  right:-770px;
  top:-280px;
}
.tableW{

  width:40% ;
  position:relative;
  right:-450px;
  top:-550px;
}
table tr:nth-child(even) {background-color: darkgrey    ;}

.educationH{
  float: left;
}
.workH{
  position:relative;
  right:300px;
  top:-280px;
}
.body{
  font-family: sans-serif;
}

/* unvisited link */
a:link {
  color: blue;
}

/* visited link */
a:visited {
  color: purple;
}

/* mouse over link */
a:hover {
  color: red;
}
.my_text {
  color: red;
  font-weight: bold;
  font-size: 15px;
}

.shadow1 {
	margin: 40px;
	background-color: rgb(68,68,68); /* Needed for IEs */

	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

}
